# DATABASE CONFIGURATION
# Local MySQL connection URL. Replace with your credentials.
DATABASE_URL="mysql://root:rootpassword@localhost:3306/loop_db"

# GOOGLE AI ENDPOINT KEY
# Your official Google Gemini Production API Key.
GEMINI_API_KEY="AIzaSyYourGeminiApiKeyHere"

# NEXT.JS AUTH SECRET
# Any secure random string to crypt cookies and sessions.
NEXTAUTH_SECRET="secure-random-secret-key-phrase"
